---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Chris DeMars',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>💚 About Me</h1>
			<p>
        Hey there! The name is Chris and I focus on advocating for web accessibility, feature flags, CSS, ux, and design systems. I love all aspects of the front end and I'm always looking for new ways to make the web great and accessible for all.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      I'm Senior Developer Advocate at DigitalOcean. I have over 20 years of technical experience and speak all over the world on web accessibility, feature flags, and CSS. For my community contributions, I hold awards as a Microsoft MVP, Cloudinary Media Developer Expert, Auth0 Ambassador, and Progress Ninja. I advocate, teache, and speak on web accessibility as well as modern CSS; building applications with both at the forefront. When I'm not working on making the web great and accessible you can find me writing blog posts, rating Detroit Style pizza, and watching Horror movies.
    </p>
    <p></p>
  </TextSection>
</Layout>
