---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Chris DeMars',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>💚 About Me</h1>
			<p>
        Hey there! The name is Chris and I focus on advocating for web accessibility, feature flags, CSS, ux, and design systems. I love all aspects of the front end and I'm always looking for new ways to make the web great and accessible for all.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      I’m a seasoned Developer Advocate with a remarkable track record spanning two decades of technical expertise. An internationally recognized authority, I take the stage globally to champion the critical causes of web accessibility and CSS.
    </p>
    <p>Recognized for my unparalleled community contributions, I have achieved a distinguished array of accolades, including the prestigious Microsoft MVP award, Cloudinary Media Developer Expert, Auth0 Ambassador, and the title of Progress Ninja. These acknowledgments underscore my unwavering dedication to shaping the tech landscape.
    </p>
    <p>An inspirational advocate, educator, and speaker, my passion for web accessibility and modern CSS is evident in my dynamic presentations and workshops. My unwavering commitment to making the web a more inclusive space has solidified my position as a leading authority in the field.
    </p>
    <p>When I’m not immersed in the world of web development, I channel my creativity into crafting engaging blog posts, indulging in critiquing the artistry of Detroit Style pizza, and finding exhilaration in the captivating world of horror cinema.
    </p>
    <p>You can also catch me on the water fishing for bass or on the paintball field shootin' lazers!</p>
  </TextSection>
</Layout>
